@import url("/home/nishanth/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 6px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
	color: @color5;
}

/* Shared module style */
#workspaces,
#clock,
#network,
#pulseaudio,
#battery,
#tray,
#cpu,
#memory,
#custom-launcher,
#custom-logout,
#custom-power,
#custom-brightness,
#custom-bluetooth {
    background: alpha(@background, 0.85);
    color: @foreground;

    margin-top: 6px;
    margin-left: 6px;
    padding: 0 10px;
}

/* Workspaces */
#workspaces {
    margin-left: 10px;
    padding: 0 4px;
}

#workspaces button {
    color: @color8;
    padding: 0 5px;
    background: transparent;
    border-radius: 4px;
}

#workspaces button.active {
    color: @color4;
    background: alpha(@color4, 0.15);
}

#workspaces button:hover {
    color: @foreground;
    background: alpha(@foreground, 0.08);
}

/* Clock */
#clock {
    color: @color5;
}

/* Network */
#network {
    color: @color1;
}

/* Audio */
#pulseaudio {
    color: @color6;
}

/* Battery */
#battery {
    color: @color6;
}

#battery.critical:not(.charging) {
    color: #ff5555;
}

/* CPU + Memory */
#cpu {
    color: @color4;
}

#memory {
    color: @color5;
}

/* Tray */
#tray {
    padding: 0 8px;
}

/* Launcher */
#custom-launcher {
    color: @color4;
    font-size: 18px;
}

/* Power */
#custom-power {
    color: #ff5555;
    margin-right: 10px;
}

/* Bluetooth */
#custom-bluetooth {
    color: @color6;
}

#custom-brightness {
	color: @color1;
}

#custom-logout {
	color: @color1;
}
