@import url("/home/nishanth/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: alpha(@background, 0.90);
    color: @foreground;
}

/* All modules */
#workspaces,
#clock,
#network,
#pulseaudio,
#battery,
#tray,
#cpu,
#memory,
#custom-launcher,
#custom-logout,
#custom-power,
#custom-brightness,
#custom-bluetooth {
    background: transparent;
    padding: 0 10px;
    margin: 0;
    color: @foreground;
}

/* Workspaces */
#workspaces {
    padding-left: 8px;
}

#workspaces button {
    color: #FFFFFF;
    background: transparent;
    padding: 0 6px;
}

#workspaces button.active {
    color: #FFFFFF;
    background: #03a1fc;
}

#window {
    color: #FFFFFF;
}

#workspaces button:hover {
    color: @foreground;
    background: alpha(@foreground, 0.08);
}

/* Launcher */
#custom-launcher {
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Clock */
#clock {
    color: #FFFFFF;
}

/* Network */
#network {
    color: #FFFFFF;
}

/* Audio */
#pulseaudio {
    color: #FFFFFF;
}

/* Battery */
#battery {
    color: #FFFFFF;
}

#battery.critical:not(.charging) {
    color: #ff5555;
}

/* CPU */
#cpu {
    color: #FFFFFF;
}

/* Memory */
#memory {
    color: @color8;
}

/* Bluetooth */
#custom-bluetooth {
    color: #FFFFFF;
}

/* Brightness */
#custom-brightness {
    color: #FFFFFF;
}

/* Logout */
#custom-logout {
    color: #FFFFFF;
}

/* Power */
#custom-power {
    color: #FFFFFF;
    padding-right: 12px;
}

/* Tray */
#tray {
    padding-right: 10px;
}
